<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reksio i Klakier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        body {margin: 1em 2em auto 2em; max-width: 50em;}
        .header {background-color: lightgrey; padding: 1em;}
        .list-unstyled {padding: 0.5em}
        .black-url {color: black; text-decoration: none}
        .table {border: none;}
        li {margin-bottom: 1em;}
        a {margin-right: 1em;}
        ul#menu li {display:inline; margin-left: 2em;}
        #menu {margin-top: 0.8em}
        .all-category {margin-left: 2em;}
    </style>
</head>
<body>

<a class="black-url" href="/">
    <h1 class="header">Schronisko Reksio i Klakier</h1></a>
<a href="/add">Dodaj zwierzaka</a>
<ul id="menu"> Kategorie:
    <a class="all-category" href="/">Wszystkie</a>
    <li th:each="category1 : ${categories}">
        <a th:href="@{'/category?name=' + ${category1.name}}" name="category" th:text="${category1.name}"></a>
    </li>
</ul>

<p><h2>Zwierzaki szukające domu</h2>
<p th:text="'Kategoria: ' + ${category}"></p>

<h6 th:if="${animals.size()==0}" th:text="Brak.">Brak</h6>
<ul class="list-unstyled">
    <li th:each="animal : ${animals}">
        <a th:href="@{'/details?id=' + ${animal.id}}">
            <img th:alt="${animal.name}" th:height="180px" th:width="180px" th:src="${animal.image}" src="https://cdn11.bigcommerce.com/s-gho61/stencil/31cc7cb0-5035-0136-2287-0242ac11001b/e/3dad8ea0-5035-0136-cda0-0242ac110004/images/no-image.svg" alt="foto">
        </a>
        <a th:href="@{'/details?id=' + ${animal.id}}" th:text="${animal.name}"></a>
        <br><a th:href="@{'/details?id=' + ${animal.id}}" th:text="${#strings.abbreviate(animal.shortDescription, 100)}"></a>
    </li>
</ul>

</body>
</html>